body {
  font-family: Arial, sans-serif;
  }
form {
  max-width: 400px;
  margin: 20px auto;
}
label {
  display: block;
  margin-bottom: 5px;
  padding-bottom: 20px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.btn button{
  width: 100px;
  height: 50px;
  background-color: var(--cor1);
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position:relative;
  cursor: pointer;
}
/*Icon do Butão*/
.btn button .icon{
  font-size: 25px;
  transition: .2s;
  padding-right: 5px;
}
/*Texto do Butão*/
.btn button .text{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000;
  transform: scale(0);
  transition: .2s;
  transition-delay: .1s;
}
/*Animação de troca do butão */
.btn button:hover .text{
  transform: scale(1);
}

.btn button:hover .icon{
  transform: scale(0);
}

.btn button::before{
  content: "Marcar";
  position: absolute;
  inset: 0;
  opacity: 0;
  border-radius: 12px;
  box-shadow: 0px 0px 8px #ffffff1e;
}

.btn button:hover::before{
  opacity: 1;
}
.btn button span{
    position: absolute;
}
/*Estilo do Butão*/

footer{
  padding: 60px 4%;
  box-shadow: 0 0 40px 10px #00000028;
}

footer .flex{
  justify-content: space-between;
}
footer .line-footer{
  padding: 20px 0;;
}
.borda{
  border-top: 4px solid #0173a1;
}
footer a{
  text-decoration: none;
}
footer .btn button{
  width: 150px;
  height: 50px;
  background-image: linear-gradient(45deg, var(--cor1), var(--cor2));
  border-radius: 12px;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  position:relative;
  cursor: pointer;
  margin: 0 15px;;
  transition: .2s;
  &:hover{
      transform: scale(1.05);}
}

footer .line-footer p i{
  color: #0173a1;
  font-size: 22px;
}
footer .line-footer p a{
  color: #000;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}